@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700);

:root {
  --black: #191a19;
  --white: #fafafa;
  --grey: #bbbbbb;
  --primary: #1f4690;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: Dosis, sans-serif;
  font-size: 1.6rem;
  background-color: var(--black);
  max-width: 140rem;
  padding: 0 5rem;
  margin: 0 auto;
}
